.App {
  text-align: center;
  position: relative;
}

/* Nav links styles  */

.navBar {
  background: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  color: white;
  margin-bottom: 2rem;
}

.navLinks {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.nav a.active {
  background-color: #61dafb;
  color: #222;
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

/* tables  */
td {
  width: auto;
}

/* Forms */
input,
select {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  font-weight: 400;
}
.add {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Submit Error Mesage*/
.error {
  color: red;
}
