/* tables  */
td {
  width: auto;
}

/* Forms */
input,
select {
  display: block;
  width: 100%;
  margin-top: 0.8rem;
  padding: 0.5rem;
  font-weight: 450;
}
.add {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Submit Error Mesage*/
.error {
  color: red;
}

.employeeActions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  select {
    width: 12%;
    margin-right: 1rem;
  }
  label {
    margin-right: 1rem;
  }
}

.searchBarDiv {
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-around;
  align-items: center;
}
